:root {
  --clr-primary: #FFB548;
  --clr-primary-accent: #F3AF34;
  --clr-secondary: #1A1C1D;
  --clr-secondary-accent: #5D5E5E;

  --ff-primary:'Bebas Neue', cursive;
  --ff-secondary: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-secondary-accent);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
