.btn--custom {
  text-transform: uppercase;
  padding: 1rem 5rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--clr-secondary);
  border: 0px;
  background-image: linear-gradient(194.68deg, var(--clr-primary) 11.27%, var(--clr-primary-accent) 90.4%);
}

.btn--custom a {
  color: var(--clr-secondary);
  text-decoration: none;
}

/* .form-control:focus {
  border-color: var(--clr-primary);
  box-shadow: 0 0 2px var(--clr-primary-accent);
} */

.card {
  border: none;
  border-radius: 5px;
  font-family: var(--ff-secondary);
  background-color: var(--clr-secondary);
}
.card .card-body {
  width: 90%;
  margin: auto;
}
.card-body .form-control {
  background-color: var(--clr-secondary);
  color: white;
}
.form-control:focus {
  background-color: var(--clr-secondary);
  border-color: var(--clr-primary);
  box-shadow: 0 0 2px var(--clr-primary-accent);
}