
.board-table {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

/* badge */
.badge-custom {
  background-color: var(--clr-secondary);
  border-radius: 5px;
  position: relative;
  bottom: 40px;
  width: 250px;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.badge-custom h2 {
  color: var(--clr-secondary);
  margin-left: 10px;
  margin-top: 10px;
}

.fa-list {
  color:  white;
  font-size: 1.8rem;  
}

.table-custom {
  padding: 20px;
}

.d-flex h2 {
  color: white;
}